.login_register_button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 133, 208);
    color:#fff; 
  }

  .login_register_button:disabled{
    background-color: rgb(178, 178, 178);
    cursor: default;
  }