* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}
.landing_container .landing_content_box {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 4.375em;
  margin-top: 7em;
  color: rgb(255, 255, 255);
}
.landing_container .landing_content_box .landing_text_box {
  width: 50%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.landing_container .landing_content_box .landing_text_box .landing_text_header {
  font-size: 3rem;
  letter-spacing: 3px;
}
.landing_container .landing_content_box .landing_text_box .landing_text_paragraph {
  margin-top: 1.5em;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 25px;
  overflow: hidden;
}
.landing_container .landing_content_box .landing_text_box .landing_text_paragraph .landing_text_logo {
  font-family: "Pacifico", cursive;
}
.landing_container .landing_content_box .landing_text_box .landing_cta_btn {
  width: 25%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 133, 208);
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  margin-top: 2em;
  cursor: pointer;
}
.landing_container .landing_content_box .landing_text_box .landing_cta_btn:hover {
  background-color: rgba(255, 133, 208, 0.492);
}
.landing_container .landing_content_box .landing_image {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.landing_container .landing_content_box .landing_image img {
  width: 50%;
  height: 90%;
  position: absolute;
  top: 4em;
  right: 0;
}

@media (width < 768px) {
  .landing_container {
    height: auto;
  }
  .landing_container .landing_content_box {
    padding: 1em;
  }
  .landing_container .landing_content_box .landing_text_box {
    width: 100%;
  }
  .landing_container .landing_content_box .landing_text_box .landing_cta_btn {
    width: 100%;
  }
  .landing_container .landing_content_box .landing_text_box .landing_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .landing_container .landing_content_box .landing_image {
    display: none;
  }
}
@media (767px < width < 1023px) {
  .landing_container .landing_content_box .landing_text_box {
    width: 100%;
  }
  .landing_container .landing_content_box .landing_text_box .landing_cta_btn {
    width: 100%;
  }
  .landing_container .landing_content_box .landing_text_box .landing_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .landing_container .landing_content_box .landing_image {
    display: none;
  }
}
@media (orientation: landscape) {
  .landing_container {
    min-height: 100vh;
    max-height: auto;
  }
  .landing_container .landing_content_box {
    height: auto;
  }
}

/*# sourceMappingURL=landing.module.css.map */
