@mixin flex-setup($align-items, $justify-content, $flex-direction: row) {
    display:flex; 
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

.post_registration_container{
   width:100%; 
   height:100vh; 
   background: rgb(131, 58, 180);
   background: linear-gradient(
     90deg,
     rgba(131, 58, 180, 1) 0%,
     rgba(253, 29, 29, 1) 50%,
     rgba(252, 176, 69, 1) 100%
   );
   color: rgb(255, 255, 255);
   @include flex-setup(center, center); 

   .post_registration_text_box{
    width:40%;
    height:70vh; 
    @include flex-setup(center, space-around, column); 
    text-align: center;
    border-radius: 15px;
    padding: 4em;

    .post_registration_title{
        font-family: "Pacifico", cursive;
        font-size: 4rem;
    }
   }
}

@media (max-width:850px){
    .post_registration_container{
        .post_registration_text_box{
            width:90%;
            height:auto;
        }
    }
}