*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;

    .training-form-container{
        width:50%; 
        height:40vh; 
        background-color: cornflowerblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
