.empty{
    width:100%; 
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color:rgba(255, 255, 255, 0.598); 
    box-sizing: border-box;
}

.empty_training_box{
    flex-direction: column; 

    .plus_icon{
        font-size: 6rem;
        margin-bottom: .3em;
    }
}

.empty_ex_box{
    padding: 2em; 

    .plus_icon{
        font-size: 4rem;
        margin-right:.3em; 
    }
}