@mixin flex-setup($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

.training_list {
  margin: 4em 0;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4em;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

  .training_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .training_card {
      width: 100%;
      height: auto;
      color: rgb(255, 255, 255);
      background-color: rgb(74, 78, 105);
      margin-top: 2em;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 1em;
      overflow: hidden;
      z-index: 1;

      .training_card_action_btn {
        width: 100%;
        @include flex-setup(center, space-between);
        margin-bottom: 1em;

        button {
          width: 20px;
          height:20px;
          font-size: 1.5rem;
          color: rgba(255, 255, 255, 0.292);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-color: rgba(255, 255, 255, 0);
          border: none;
          cursor: pointer;
        }
        .edit_btn_white{
          background-image: url("../../../images/editBtn-white.png");
        }
  
        .delete_btn_white{
          background-image: url("../../../images/close-white.png");
        }
      }



      .training_card_date_label {
        @include flex-setup(center, flex-start);
        font-size: 0.9rem;
        margin: 0.5em 0;
        width: fit-content;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.292);
        box-sizing: border-box;
        padding: 0.5em;
        border-radius: 5px;
        overflow: hidden;

        .training_card_date {
          margin-left: 0.5em;
        }
      }

      .exer_stats_table {
        width: 100%;
        height: 60px;
        margin-top: 2em;
        @include flex-setup(center, center);
        text-align: center;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.247);
        border-radius: 10px;

        .exer_table_col {
          min-width: 16.7%;
          height: auto;
          box-sizing: border-box;
          border-right: 1px solid rgba(255, 255, 255, 0.367);
        }

        .exer_last_stat {
          border: none;
        }
      }

      .exer_container {
        width: 100%;
        min-height: 50px;
        display: flex;

        .exer_col {
          width: 20%;
          box-sizing: border-box;
          padding: 1em;
          border: 1px solid rgb(255, 255, 255);
          text-align: center;
        }

        .exer_col_action {
          @include flex-setup(center, space-around);
          box-sizing: border-box;
          padding: 1em;
          background-color: rgba(255, 255, 255, 0.578);
          border-radius: 0 10px 10px 0;

          .exer_action_btn{
            font-size: 1.3rem;
            color: rgb(255, 255, 255);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: rgba(255, 255, 255, 0);
            width: 17px;
            height: 17px;
            border: none;
            cursor: pointer;
          }

          .exer_edit_btn {
            background-image: url("../../../images/editBtn.png");
          }

          .exer_delete_btn {
            background-image: url("../../../images/close.png");
          }
        }
      }
    }
    .add_exer_btn {
      width: 100%;
      height: 60px;
      position: relative;
      top: -15px;
      z-index: 0;
      border-radius: 0 0 15px 15px;
      border: none;
      box-sizing: border-box;
      padding-top: 1em;
      background-color: rgb(183, 2, 255);
      color: rgb(255, 255, 255);
      transition: 0.3s linear;
    }

    .add_exer_btn:hover {
      background-color: rgba(183, 2, 255, 0.665);
      cursor: pointer;
    }
  }
}
@media (max-width:850px) {
  .training_list {
    width: 99%;
    padding:.5em; 
  
    .training_card_container{
      .training_card{
        padding: .5em; 
        border-radius: 10px;
      }
    }

  }
}
