@mixin flex-setup($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  @include flex-setup(center, space-between);
  flex-direction: column;

  .main_navbar {
    width: 15%;
    @include flex-setup(center, space-between);

    .navbar_user_avatar {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .logout_button {
      width: 60%;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 25px;
      background-color: rgba(255, 255, 255, 0.159);
      color: #fff;
      text-decoration: none;
      @include flex-setup(center, center);
      transition: 0.3s linear;
      cursor: pointer;
    }

    .logout_button:hover {
      background-color: rgba(131, 58, 180, 0.565);
    }
  }

  .button_search_container {
    width: 80%;
    height: auto;
    @include flex-setup(center, space-between);
    margin-top: 2em;
    box-sizing: border-box;
    padding: 2em;
    background-color: #ffffff43;
    border-radius: 15px;

    .add_training_button {
      width: 15%;
      height: 40px;
      border-radius: 25px;
      background-color: rgb(247, 164, 116);
      border: 1px solid #fff;
      color: #fff;
      transition: 0.3s linear;
      cursor: pointer; 
    }

    .add_training_button:hover {
      background-color: rgba(247, 164, 116, 0.552);
    }

    .search_input_group {
      width: 30%;
      background-color: #fff;
      height: 40px;
      border-radius: 10px;
      display: flex;

      .icon_box {
        width: 10%;
        @include flex-setup(center, center);
      }

      .search_input {
        width: 90%;
        height: 40px;
        border: none;
        outline: none;
      }
    }
  }
}
