.training_list {
  margin: 4em 0;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4em;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.training_list .training_card_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.training_list .training_card_container .training_card {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 78, 105);
  margin-top: 2em;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 1em;
  overflow: hidden;
  z-index: 1;
}
.training_list .training_card_container .training_card .action_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.training_list .training_card_container .training_card .action_buttons button {
  width: 25px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.292);
  background: none;
  border: none;
}
.training_list .training_card_container .training_card .training_card_date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  margin: 0.5em 0;
  width: fit-content;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.292);
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 5px;
  overflow: hidden;
}
.training_list .training_card_container .training_card .training_card_date .date {
  margin-left: 0.5em;
}
.training_list .training_card_container .training_card .stats_table {
  width: 100%;
  height: 60px;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 10px;
}
.training_list .training_card_container .training_card .stats_table .table_col {
  min-width: 16.7%;
  height: auto;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.367);
}
.training_list .training_card_container .training_card .stats_table .last_stat {
  border: none;
}
.training_list .training_card_container .training_card .ex_container {
  width: 100%;
  min-height: 50px;
  display: flex;
}
.training_list .training_card_container .training_card .ex_container .ex_col {
  width: 20%;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #fff;
  text-align: center;
}
.training_list .training_card_container .training_card .ex_container .action_ex_col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.578);
  border-radius: 0 10px 10px 0;
}
.training_list .training_card_container .training_card .ex_container .action_ex_col button {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  width: 17px;
  height: 17px;
  border: none;
}
.training_list .training_card_container .training_card .ex_container .action_ex_col .edit_btn {
  background-image: url("../../../../images/editBtn.png");
}
.training_list .training_card_container .training_card .ex_container .action_ex_col .delete_btn {
  background-image: url("../../../../images/close.png");
}
.training_list .training_card_container .add_excercise_button {
  width: 100%;
  height: 60px;
  position: relative;
  top: -15px;
  z-index: 0;
  border-radius: 0 0 15px 15px;
  border: none;
  box-sizing: border-box;
  padding-top: 1em;
  background-color: rgb(183, 2, 255);
  color: rgb(255, 255, 255);
  transition: 0.3s linear;
}
.training_list .training_card_container .add_excercise_button:hover {
  background-color: rgba(183, 2, 255, 0.665);
  cursor: pointer;
}

@media (max-width: 850px) {
  .training_list {
    width: 90%;
    padding: 1em;
  }
}

/*# sourceMappingURL=card.module.css.map */
